form {
  width: 75%;
  margin: auto;
  border: 4px solid black;
  padding: 20px;
  margin-top: 5%;
  font-family: 'Josefin Slab', serif;
  font-family: Arial;
  background-color: Snow;
  border-radius: 10px;
}

form h1 {
  text-align: center;
  margin: 50px;
}

form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form fieldset{
  padding: 30px;
  margin: 10px;
  background-color: white;
  
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
}
form legend {
  font-size: 1.6em;
  font-weight: bold;
}

form label {
  font-weight: bold;
  font-size: 1.2em;
}

#datetime li{
  width: 32%;
  display: inline-block;
}
#datetime li label{
  display: block;
  
  width: 100%;
  margin: 5px;
  text-align: left;
  
}

#datetime li input{
  display: box;
  width: 85%;
  margin: auto;  margin-left: 5px;

}

#timezone{
  height: 40px;
}
#apptTimeHr{
  text-align: right;
}
#apptTime select{
  width: 45%;
  height: 40px;
}

form textarea{
  width:100%;
  height: 200px;
  font-size: 1.1em;
  font-weight: normal;
  font-family: serif;
}

#contact li {
  margin-top: 10px;
  margin-bottom: 10px;
}
#contact label {
  width: 20%;
  display: inline-block;
}

#contact input{
  width: 75%;
  
}

form input, select{
  height: 25px;
  font-size: 1.2em;
  font-weight: normal;
  font-family: serif;
}

form input[type="submit"]{
  width: 100%;
  height: 50px;
  background-color: Lavender ;
  border: 2px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 10px;
  font-size: 1.4em;
  font-family: Arial;
  font-weight: bold;
}

form input[type="submit"]:hover{
  background-color: Thistle  ;
  color: white;

}

form input[type="submit"]:active{
  background-color: Plum  ;
  color: white;
}

footer {
  clear: both;
  text-align: center;
  margin-top: 10%
}


@media only screen and (max-width: 1024px) {
    body {
        background-color: lightblue;
        font-size: 1.2em;
    }
    form {
        width: 80%;
    }

    #datetime li{
      width: 100%;
    }

    #timezone{
      width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightgreen;
        font-size: 0.9em;
    }
    form{
      width: 85%;
      margin: 0 auto;
    }

    #timezone{
      width: 70%;
    }
}
@media only screen and (max-width: 360px) {
    body {
        background-color: lightpink;
        font-size: 0.8em;
    }
}