* {
  box-sizing: border-box;
}
form h2 {
  text-align: center;
}
form {
  width: 35%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  background-color: Snow;
  font-family: Arial;
  margin: auto;
  margin-top: 100px;
}
fieldset {
  background-color: white;
}
form h1 {
  text-align: center;
}
form label {
  font-size: 1em;
  width: 25%;
  display: inline-block;
}
form input {
  display: inline-block;
}
#name {
  width: 98%;
}
#cardnum {
  width: 98%;
}
#csv {
  width: 30%;
}
select {
  width: 30%;
}
input[type="text"], select {
  height: 50px;
  padding-left: 10px;
  border-radius: 5px;
  font-size: 1.1em;
}
fieldset {
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  border: 2px solid black;
}
fieldset legend {
  font-size: 1.4em;
}
input[type="submit"] {
  width: 100%;
  border: 2px solid black;
  height: 50px;
  border-radius: 5px;
  background-color: Lavender;
  font-size: 1.2em;
  margin-top: 20px;
}
form input[type="submit"]:hover {
  background-color: Thistle;
  color: white;
}
form input[type="submit"]:active {
  background-color: Plum;
  color: white;
}
footer {
  clear: both;
  text-align: center;
  margin-top: 10%
}

@media (max-width: 1024px) {
  body { background-color: lightgreen; font-size: 1.2em}
  form { width: 80%; margin: 20px auto; }
 #csv{
  width: 100%;
 }
 select {
    width: 48%;
  }
}

@media (max-width: 600px) {
  body { background-color: lightblue; font-size: 1.2em}
  form { width: 100%; margin: 5px auto; }
 #csv{
  width: 100%;
 }
 select {
    width: 48%;
  }
}


@media (max-width: 360px) {
 body { background-color: lightpink; font-size: 1em}
 form { width: 100%; margin: 5px auto; }
 select {
    width: 100%;
  }
}