form{
  font-family: Arial;
  width: 50%;
  padding: 2%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: Snow;
  margin: auto;
  margin-top: 5%;
  
}

form h2 {
  color: #4d4e53 ;
  
}
input[type="text"] {
  vertical-align:top;
  display: inline-block;
  font-size: 1.2em;
  border: 1px solid black;
  width: 60%;
  padding-left: 10px;
  box-sizing: border-box;
  height: 40px;
  margin-left:-5px;
  margin-right:-5px;
}
 
select{
  display: inline-block;
  font-size: 1em;
  width: 29%;
  border: 1px solid black;
  box-sizing: border-box;
  height: 40px;
  padding-left: 5px;
  margin: 0;
}

input[type="submit"] {
  display: inline-block;
  font-size: 1em;
  width: 10%;
  border: 1px solid black;
  box-sizing: border-box;
  height: 40px;
  background-color: LightGray ; 
}

input[type="submit"]:hover {
  background-color: darkgray; 
  color: white;
}

input[type="submit"]:active {
  background-color: gray; 
  color: white;
}

footer {
  clear: both;
  text-align: center;
  margin-top: 10%
}



@media only screen and (max-width: 1024px) {
    body {
        background-color: lightblue;
        font-size: 0.9em;
    }
    form {
        width: 70%;
    }
    input[type="submit"] {
      width: 96%;
    }
    input[type="text"]{
      width: 67%;
    }
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightgreen;
        font-size: 0.8m;
    }
    form{
      width: 90%;
    }

}
@media only screen and (max-width: 360px) {
    body {
        background-color: lightpink;
        font-size: 0.8em;
    }

    form{
      width: 100%;
    }
}